@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DevHooks</h1>
    <p class="lead">A rede social onde vão entender suas piadas!</p>
    <p><a href="/Account/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Registre-se &raquo;</a></p>
</div>